#body-full {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0px;
}

#full-default:nth-child(2) #body-full {
    margin-top: 100px;
}

*
{
    color: #fff;
}

#top-holder
{
    min-height: 240px;
}

#calendario-holder
{
    width: 800px;
    border-radius: 5px;
    background: #808080;
}

#week
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    margin: 5px 0;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.absolute
{
    font-size: 0;

    position: absolute;
    z-index: 5;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column-reverse;

    width: 0;
    height: 0;
    padding: 0 10px;

    text-align: center;

    border-radius: 3px;
    background: #20502c;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.day
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 13%;
    height: 30px;
    margin: 1px 0;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.day:hover .absolute
{
    font-size: 16px;

    min-width: 200px;
    min-height: 150px;
}



.absolute-title
{
    font-size: 0;

    z-index: 0;

    width: 0;
    margin-bottom: 7px;
    padding: 0;

    border-radius: 3px 3px 0 0;
    background: #666;
}

.day:hover .absolute-title
{
    font-size: 16px;

    width: 100%;
    padding: 7px 10px;
}

#week:nth-child(2)
{
    background: #03bfb7;
}

#week:nth-child(2) *
{
    font-weight: 700;

    color: #333;
}

#eventos
{
    width: 800px;
    min-height: 50px;
    margin: 30px 0;
}

#eventos-titulo
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    height: 50px;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#eventos-titulo h2
{
    padding: 0 20px;
    color: #666;
}

.eventos-data
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    min-height: 50px;

    border-bottom: .5px solid transparent;
}

#dia
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 12%;
    background: #03bfb7;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-right: 1px solid #ededed;
}

#dia p {
    font-size: 16px;
    font-weight: 700;    
}



#mater
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 35%;

    background: #5f5e5e;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#mater p
{
    text-align: center;
}

#descricao
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 60%;

    background: #5f5e5e;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#descricao p
{
    margin: 10px 0;
    padding: 0 15px;

    text-align: center;
}

.day:nth-child(6) .absolute
{
    right: 40px;
}
.day:nth-child(13) .absolute
{
    right: 40px;
}
.day:nth-child(20) .absolute
{
    right: 40px;
}
.day:nth-child(27) .absolute
{
    right: 40px;
}

.day:nth-child(2) .absolute
{
    left: 40px;
}
.day:nth-child(9) .absolute
{
    left: 40px;
}
.day:nth-child(16) .absolute
{
    left: 40px;
}
.day:nth-child(23) .absolute
{
    left: 40px;
}

.index
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    height: 100%;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#nav-holder
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 20px 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#nav-title
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-line-pack: center;
    align-content: center;
}

#nav-title h2
{
    font-weight: 300;

    padding: 0 20px;
}

#nav
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 150px;
}

.left
{
    font-weight: 900;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 50%;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

.righ
{
    font-weight: 900;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 50%;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

#response {
    display: flex;
    width: 100%;
    justify-content: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 7px;
}

table tr {
    background: #B8B8B8;
}

table tr:nth-child(odd) {
    background: #B0B0B0;
}

table th {
    background: #03bfb7;
    color: #fff;
    padding: 14px 7px;
}

table td {    
    padding: 10px 0;
    text-align: center;
}

