@font-face
{
  font-family: 'Helvitica light';

  src: url('../font/light.eot');
  src: url('../font/light.eot?#iefix') format('embedded-opentype'),
  url('../font/light.woff2') format('woff2'),
  url('../font/light.woff') format('woff'),
  url('../font/light.ttf')  format('truetype'),
  url('../font/light.svg#svgFontName') format('svg');
}

html,
body {
  height: 100%;
  background: #f5f5f5;
}

* {

  font-family: 'Helvitica light', sans-serif;
  color: #555;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;  
}

#holder-all {
  width: 100%;
  position: absolute;
  display: flex;
}

#holder-nav-body {
  width: calc(100% - 250px);
  margin-top: 50px;
}

::-webkit-scrollbar {
  width: 2px
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background: rgba(14, 15, 15, .9)
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
  background: #03bfb7
}

#full-header {
  width: 100%;
  height: 50px;
  background: #003530;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 10;
  position: fixed;
  box-shadow: -7px 0px 17px;
}
#full-header span {
  cursor: pointer;
}

#logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15px;
}

#imagem-logo {
  margin-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#imagem-logo img {
  width: 30px;
  height: 30px;
}

#texto-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
}

#texto-logo p {
  color: #fff;
}

#administrador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
}

#usuario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5px;
  border-radius: 3px;
  background: #1ab193;
}



#usuario p {
  padding: 5px 15px;
  color: #fff
}

#loggout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5px;
}

#loggout > .glyphicon,
#loggout > a > .glyphicon {
  color: #c3fff3;
  font-size: 30px;
}

#loggout img {
  width: 30px;
  height: 30px;
}

#barra {
  width: 250px;
  height: 100vh;
  background: #ffffff;
  margin-top: 50px;
  /* position: fixed; */
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;
}

#holder-barra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.arrow {
  color: #6ae4c8;
  font-weight: 900;
  font-size: 24px;
  font-family: monospace;
  transform: rotate(0deg);
  transition: all 150ms ease;
}

#barra img {
  width: 30px;
  height: 30px;
  margin: 0 7px;
}

#barra p {
  margin-right: 7px;
  font-size: 18px;
  color: #2b2b2b;
}

#titulo-barra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background: #ffffff;
  z-index: 5;
  cursor: pointer;
}

.glyphicon {
  margin: 0 15px;
  font-size: 22px;
  color: #6b6b6b;
}

.sub-posts-barra > .sub > span > #holder-barra > .glyphicon {
  margin-left: 30px;
}


#posts-barra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 50px;
  z-index: 5;
  background: #ffffff;
}

.sub #holder-barra img {
  margin-left: 35px;
  margin-right: 10px;
}

.sub-posts-barra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: all 800ms;
  transition: all 800ms;
  position: relative;  
  max-height: 0px;
  overflow: hidden;

}

.sub-posts-barra:nth-child(1) {
  z-index: 4;
}

.sub-posts-barra:nth-child(2) {
  z-index: 3;
}

.sub-posts-barra:nth-child(3) {
  z-index: 2;
}

.sub-posts-barra:nth-child(4) {
  z-index: 1;
}

.sub {
  width: 100%;
  height: 100%;
  background: #eaeaea;
}

.link {
  width: (100%-50px);
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link p {
  margin-left: 30px;
}

#titulo {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #e0e0e0;
  z-index: 1;
  box-shadow: 15px -5px 20px 3px;
}

#titulo p {
  margin-left: 30px;
  font-size: 14px;
  font-weight: 900;
  color: #fff;
}

#nav-span {
  display: flex;
}

#nav-span p {
  margin: 0;
  margin-right: 3px;
  padding: 6px;
  border-radius: 3px;
  background: #009688;
  font-size: 16px;
  font-weight: 300;
  color: #f5f5f5;
}

#body-full {
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  /* position: absolute; */
}

#body-content {
  width: 95%;
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#resumo-holder {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ccc;
}

#total-posts, #total-pedidos, #total-acessos, #total-eventos {
  width: 90px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 60px;
  font-weight: 900;
}

#resumo-holder:nth-child(1) {
  height: 30px;
  border-bottom: 0px;
}

#resumo-holder:nth-child(2){
  border-top: 0px;
}

#resumo-holder:first-child #total-posts, #resumo-holder:first-child #total-pedidos, #resumo-holder:first-child #total-acessos, #resumo-holder:first-child #total-eventos {
  width: 90px;
  height: 100%;
  font-size: 16px;

}

#posts-titulo, #contatos-titulo, #eventos-titulo {
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;  
}

#posts-titulo {
  padding: 15px;
  background: #009688;
}

#posts-titulo p, #contatos-titulo p, #eventos-titulo p {
  font-size: 18px;
  color: #fff;
  padding-left: 15px;
  font-family: 'Helvitica bold', sans-serif;
  font-weight: 500;
}

#recentes-posts {
  width: 100%;
  height: 75px;  
  background: #c3c3c3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#recentes-posts-title {
  width: 100%;
  height: 30px;  
  background: #1ab193;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
#reclamacoes-posts {
  width: 100%;
  min-height: 30px;
  background: #ddd;
}

#reclamacoes-posts {
  padding: 50px;
}

#recentes-posts-title * {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}

#sql-id, #sql-categoria, #sql-titulo, #sql-imagem, #sql-data, #sql-hora, #sql-editar, #sql-excluir {
  min-width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sql-id {
  width: 50px;
}

#sql-categoria {
  width: 150px;
}

#sql-titulo {
  width: 150px;
}

#sql-imagem img {
  width: 65px;
  height: 65px;
}

#sql-data, #sql-hora {
  width: 70px;
}


#sql-editar img, #sql-excluir img {
  width: 30px;
  height: 30px;
}

#delete {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#delete p {
  width: 100%;
  height: 30px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

#formulario
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 700px;
    margin: 20px 0;

    border: 1px solid #4a4747;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#texto-form {
  width: 100%;
}

#texto-form p {
  font-size: 14px;
  font-weight: 800;
  color: #414141;
}

.form-input {
    font-size: 17px;
    width: 100%;
    margin: 6px 0;
    padding: 10px;
    border-radius: 4px;
    border: 0.5px solid #e0e0e0;
}

.form-select
{
    font-size: 17px;

    width: 100%;
    margin: 15px;
    padding: 15px;
}

#enviar
{
    font-size: 20px;

    margin-top: 30px;
    padding: 10px 20px 10px 20px;

    -webkit-transition: all 200ms;
            transition: all 200ms;
    text-decoration: none;

    color: #fff;
    border: 0;
    border-radius: 3px;
    background: #25ae88;
}

#enviar:hover
{
    text-decoration: none;

    color: #fff;
    background: #11eaae;
}

.form-class
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 25px 0;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

#alert-container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    margin-bottom: 45px;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.alert
{
    font-size: 20px;
    font-weight: 700;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 65%;
    padding: 10px;

    text-align: center;
    text-transform: uppercase;

    color: #302f2f;
    border: 0;
    border-radius: 5px;
    background: #efce4a;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.erro
{
    font-size: 20px;
    font-weight: 700;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 65%;
    padding: 10px;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
    border: 0;
    border-radius: 5px;
    background: #d75a4a;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#sucess
{
    font-size: 20px;
    font-weight: 700;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 65%;
    padding: 10px;

    text-transform: uppercase;

    color: #fff;
    border: 0;
    border-radius: 5px;
    background: #25ae88;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#cke_conteudo {
  width: 100%;
  margin: 15px 0;
}

#upload-holder {
  width: 100%;
  margin: 10px 0;
  display: flex;
}



#upload-status {
  width: 100%;
  height: 70px;
  background: indianred;
}

.status {
  width: 50%;
  height: 100%;
  background: slateblue;

  transition: all 300ms ease;

}

  #upload-total {
    width: 100%;
    display: flex;
    background: #6b6b6b;
    margin-bottom: 20px;
    border-radius: 4px;
  }

  #upload-pai {
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    border-radius: 2px;
    /* border: 2px solid #e8e8e8; */
  }

  .upload-file {
    width: 100%-20px;
    height: 44px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-weight: 700;
    padding-left: 20px;
    background: #6b6b6b;
    border-bottom: 3px solid #a1eada;
    color: #fff;
  }

  #img_up {
    display: none;
  }

  .btn-upload {
    padding: 15px;
    height: 10px;
    display: flex;
    align-items: center;
    margin: 0px 110px;
    background: #1ab193;
    border-bottom: 4.5px solid #268c78;
    border-radius: 2px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    display: flex;
    justify-content: center;
    transition: all 300ms ease;
  }

  .btn-upload:hover {
    background: #268c78;
    height: 14.5px;
    border-bottom: 0px solid #268c78;
  }

  #progress-data-send {
    width: 100%;
    position: relative;
    height: 0px;
    /* border-top: 2.5px solid #4e4c4c; */
    padding-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    overflow: hidden;
    transition: all 1s ease;
    background: #757575;
  }

  #upload-content {
    width: 50%;
    height: 400px;    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  #preview {
    width: 50%;
    height: 400px;    
  }

  #upload-holder {

    display: none;
    width: 160px;
    height: 16px;
    background: #838383;
    overflow: hidden;
    border-radius: 2px;
    transition: all 1s ease;
  }

  #upload-status {
    width: 0%;
    height: 100%;
    background: #25ae88;
  }

  #loading {
    position: absolute;
    left: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 0 15px;
    border: 5px solid #838383;
    border-right: 5px solid #43E3A5;
    animation: spin 2s linear infinite;
  }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #complete {

    position: absolute;
    left: 0;

    width: 70px;
    height: 70px;    
    margin: 0 15px;

    opacity: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
  }  

  #upload-percentage {

    width: 100px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: #5d5b5b;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    margin: 0 15px;
    right: 0;
  }

  #img-preview-holder {
    margin: 0px;
    height: 396px;
    /* border: 2px solid #e8e8e8; */
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #preview-container {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 21px 20px;
  }

  #preview-container label {
    width: 70%;
    padding: 10px;
    background: #49c4a8;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 16.5px;
    margin-bottom: 10px;    
  }

  #preview-container img {
    max-height: 230px;
  }

  #toast {
    width: 200px;
    height: 60px;
    top: 10vh;
    right: 0;
    position: fixed;

    border-radius: 4px;
    overflow: hidden;
    background: deepskyblue;      
    z-index: 500;

    transition: all 600ms ease;
    transform: translateX(200px);

    display: flex; 
    flex-wrap: wrap;       
  }

  .img-toast {
    width: 70px;
    height: 55px;    

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .img-toast .glyphicon {
    color: #fff;
    font-size: 25px;

  }

  .text-toast {
    width: 130px;
    height: 55px;
    display: flex;
    flex-wrap: wrap;
    color: #fff;
  }

  .resultado {
    width: 100%;            
    font-weight: 700;
    color: #fff;
    display: flex;
    align-items: flex-end;
  }

  .tipo {
    width: 100%;        
    font-weight: 300;
    display: flex;
    align-items: flex-start;    
  }

  .animacao {
    width: 100%;
    height: 5px;
    background: rgba(0, 0, 0, 0.24);
    transition: all 4s ease;
  }

  #table {
    width: 100%;
    border-collapse: collapse;
  }

  #table th {
    text-align: center;
    padding: 10px;
    color: #7f7e7e;
  }

  .table-header {
    background: #dadada;
  }

  .table-header td {
    font-weight: 900;
    color: #fff;    
  }

  #table tr:nth-child(3),
  #table tr:nth-child(5), {            
    background: #fefefe;
  }

  #table td {    
    text-align: center;
    border-bottom: 1px solid #d4d4d4;
    padding: 10px;
  }

  #table tr:first-child td,
  #table tr:last-child td {
    border: 0px;
  }

  #table tr:hover {
    background: rgba(228, 228, 228, 0.65);
  }

  #table tr:first-child:hover {
    background: #c8c8c8;
  }

  #table td .glyphicon {
    margin: 0;
    cursor: pointer;
    color: #009688;
  }

  .table-img {
    width: 70px;
    height: 50px;   
  }

  .table-img img {
    height: 100%;
  }

  .tamanho-imagem {
    width: 100%;      
    margin-left: 20px;
    margin-bottom: 5px;
  }

  .tmh-img-size {
    margin-right: 15px;
    color: #1ab193;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }

  #tmh-img-size,
  #tmh-img-size-2 {
    font-size: 22px;
    color: #6b6b6b;
  }

  #user-logged {
  width: 100%;
  height: 100px;
  margin-bottom: 15px;  
  display: flex;  
  background: url('https://s-media-cache-ak0.pinimg.com/originals/fb/94/4f/fb944fff29d2639240d56668eea6a8a5.png');
  background-position-y: 233px;
}

#user-img {
  width: 100px;
  height: 100%;  
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(51, 51, 51, 0.54);
}

#user-img-container {
  width: 70px;
  height: 70px;
  border-radius: 50%;  
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#user-img-container img {
  width: 100%;
  height: auto;
  margin: 0;
}

#user-name {
  width: 150px;
  height: 100%;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(51, 51, 51, 0.54);
}

.user-funcao,
.user-name-container {
  width: 100%;
  padding: 0 15px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.user-funcao {
  font-size: 16px;
  color: #45eadb;
}

#add-holder {
  width: 100%;
  height: 60px;  
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#add-holder span,
#add-holder label {
  font-size: 20px;
  color: #fff;
  margin: 0;
}

#add-holder span {
  margin: 0px 12px;
}

#add-holder label {
  margin-right: 12px;
}

.simple-button {
  border-radius: 6px;
  padding: 11px 0px;
  background: #2196f3;
}

#confirm-exclude-holder {
  width: 100%;
  height: 100%;
  position: fixed;
  background: transparent;  
  z-index: -1;
  left: 0;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#confirm-box {
  width: 400px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
  background: #2196f3;
}

#confirm-box span,
#confirm-box label {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 900;
}

#confirm-box label {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.two-elements-centered {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

#confirm-box button {
  padding: 10px 30px;
  border: 0px;
  border-radius: 3px;
  font-size: 20px;
  margin: 0px 5px;
}

.upper-holder {
  width: 100%;
  height: 50px;  
  display: flex;
  align-items: center;
}

.spinner {
  opacity: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 15px;
  border: 5px solid #838383;
  border-right: 5px solid #43E3A5;
  border-bottom: 5px solid #43E3A5;
  border-top: 5px solid #43E3A5;
  animation: spin 600ms linear infinite;
}

#button-uploader {
  height: 100%;
  width: 150px;  
  display: flex;
  justify-content: center;
  align-items: center;
}

#progress {
  height: 100%;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

#result {
  height: 100%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

#low-quality-file,
#med-quality-file,
#hig-quality-file,
#zip-file {
  display: none;
}

.real-uploader {
  padding: 10px 30px;
  border-radius: 3px;
  background: #009688;
  color: #fff;
  transition: all 400ms ease;
}

.real-uploader:hover {
  background: #bebebe;
  color: #009688;
}

#progress-base {
  width: 90%;
  height: 70%;
  background: #888;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}

.progress-atual {
  width: 0%;
  height: 100%;
  background: #009688;
}

.porcentagem-atual {
  position: absolute; 
  color: #dedede; 
}

.visualizarPedido {
  width: 100%;
  min-height: 300px;
  user-select: none;
  padding: 15px;
  font-size: 18px;
  border: 0px;
  background: #9c9c9c;
  color: #fff;  
}

#posts-label {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

#recentes-posts-holder {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page {
  width: 48%;
  margin-bottom: 15px;
  max-height: 315px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  border: 0.5px solid #e8e8e8;
  background: #fff;
  overflow: hidden;
}